body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  flex-direction: column;
  margin: 0;
}

.holder {
  display: flex;
}

.item {
  width: 150px;
  height: 200px;
  font-size: 80px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
	overflow:hidden;
}

.green {
  background-color: #387c2b; /* green */
}

.red {
  background-color: #e62e24; /* red */
}

.blue {
  background-color: blue; /* blue */
}

  
