 .holder {
      display: flex;
      flex-wrap: wrap;         /* allow items to move to next row */
      width: 100%;             /* full width container */
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: black;
      height: 150px;
    }

    .item.green {
      background: green;
      flex: 1 1 15%;           /* flexible width, shrink if needed */
    }

    .item.red {
      background: red;
      width: 150px;
      flex-shrink: 0;          /* do not shrink */
    }

    .item.blue {
      background: blue;
      width: 150px;
      flex-shrink: 0;
    }

